<section id="contact" class="visibility">
    <hr>
    <div class="section grey lighten-5">
        <div class="row container">
            <div class="col l4 m4 s12">
                
                <div id="email-contact" class="center visibility">
                    <i class="medium material-icons">email</i>
                    <p>danielmaloneygti@gmail.com</p>
                </div>
                
            </div>
            <div class="col l4 m4 s12 section">
                
                <div id="phone-contact" class="center visibility">
                    <i class="medium material-icons">phone</i>
                    <p>07597701962</p>
                </div>
                
            </div>
            <div class="col l4 m4 s12">
                
                <div id="location" class="center visibility">
                    <i class="medium material-icons">location_on</i>
                    <p>Watford, London</p>
                </div>
                
            </div>
        </div>
    </div>
    <hr>
</section>