<section id="contact">
    <div class="section grey lighten-5">
        <div class="row container">
            <div class="col l4 m4 s12">
                <hr>
                <div id="email-contact" class="center visibility">
                    <i class="medium material-icons">email</i>
                    <p class="grey-text text-darken-4">danielmaloneygti@gmail.com</p>
                </div>
                <hr>
            </div>
            <div class="col l4 m4 s12 section">
                <hr>
                <div id="phone-contact" class="center visibility">
                    <i class="medium material-icons">phone</i>
                    <p class="grey-text text-darken-4">07597701962</p>
                </div>
                <hr>
            </div>
            <div class="col l4 m4 s12">
                <hr>
                <div id="location" class="center visibility">
                    <i class="medium material-icons">location_on</i>
                    <p class="grey-text text-darken-4">Watford, London</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>