<section id="email" class="visibility">
    <div class="container">
        <div class="row">
            <h3>Contact Me</h3>
            <h4>I would love to hear from you.</h4>
            <form role="form" method="POST" action="/contact">
                <div class="input-field col s6">
                    <input placeholder="First Name" id="firstName" name="firstName" type="text" class="validate" required>
                    <label for="firstName">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Last Name" id="lastName" name="lastName" type="text" class="validate" required>
                    <label for="lastName">Last Name</label>
                </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="example@gmail.com" id="email" name="email" type="email" class="validate" required>
                <label for="password">Email</label>
            </div>
            <div class="input-field col s6">
                <input id="number" name="number" type="text">
                <label for="number">Contact Number</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l12 m12 s12">
                <input id="comments" name="message" type="text" class="validate" required>
                <label for="comments">Comments</label>
            </div>
        </div>
        <button class="btn red lighten-1 waves-effect waves-light z-depth-5" type="submit" name="action">
        Send
        <i class="material-icons right">send</i>
        </button>
        <div class="right-align">
            <a id="scale-demo" href="#top-page" class="right-align btn-floating btn-large scale-transition red lighten-1 scrollspy">
                <i class="material-icons">navigation</i>
            </a>
            <p>Click to return to the top of the page.</p>
        </div>
    </div>
    </form>
    <div class="section white">
    </div>
</section>