<section id="email" class="scrollspy visibility">
    <div class="container">
        <div class="row">
            <h3>Contact Me</h3>
            <h4>I would love to hear from you.</h4>
            <form role="form" method="POST" action="/contact">
                <div class="input-field col s6">
                    <input placeholder="First Name" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Last Name" id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="example@gmail.com" id="email" type="email" class="validate">
                <label for="password">Email</label>
            </div>
            <div class="input-field col s6">
                <input id="number" type="text" class="validate">
                <label for="number">Contact Number</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l12 m12 s12">
                <input id="comments" type="text" class="validate">
                <label for="comments">Comments</label>
            </div>
        </div>
        <button class="btn grey darken-3 waves-effect waves-light z-depth-5" type="submit" name="action">
        Send
        <i class="material-icons right">send</i>
        </button>
    </div>
    </form>
    <div class="section white">
    </div>
</section>