<footer id="footer">
    <div class="section red lighten-1">
        <div class="row container social-icon">
            <ul>
                <p class="white-text">&copy; 2017 Daniel Maloney, All Rights Reserved</p>
                <a href="https://medium.com/@danielmaloneygti">
                    <img class="responsive-img" src="/imgs/Medium.png">
                </a>
                <a href="https://uk.linkedin.com/daniel-maloney-14aab269">
                    <img class="responsive-img" src="/imgs/LinkedIn.png">
                </a>
                <a href="https://github.com/danmaloney745">
                    <img class="responsive-img" src="/imgs/GitHub.png">
                </a>
            </ul>
        </div>
    </div>
</footer>