<div class="navbar-fixed">
    <nav class="grey darken-3" role="navigation">
        <div class="nav-wrapper ">
            <ul id="slide-out" class="side-nav">
                <li>
                    <div class="userView">
                        <div class="background">
                            <img src="/imgs/background-5.jpg">
                        </div>
                        <img class="circle" src="/imgs/profile.jpg">
                        <span class="white-text">Daniel Maloney</span>
                    </div>
                </li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons white-text">menu</i></a>
            
            <ul class="right hide-on-med-and-down">
                <li><a class="white-text" href="#profile">Profile</a></li>
                <li><a class="white-text" href="#contact">Contact Details</a></li>
                <li><a class="white-text" href="#skills">Skills</a></li>
                <li><a class="white-text" href="#services">Services</a></li>
                <li><a class="white-text" href="#projects">Projects</a></li>
                <li><a class="white-text" href="#email">Email</a></li>
            </ul>

            <ul class="side-nav" id="nav-mobile">
                <!--<li class="logo">
            <a id="logo-container" class="brand-logo">Daniel Maloney</a>
            </li>-->
                <li><a class="grey-text text-darken-3" href="#profile" class="waves-effect waves-teal">Profile</a></li>
                <li><a class="grey-text text-darken-3" href="#contact" class="waves-effect waves-teal">Contact Details</a></li>
                <li><a class="grey-text text-darken-3" href="#skills" class="waves-effect waves-teal">Skills</a></li>
                <li><a class="grey-text text-darken-3" href="#sevices" class="waves-effect waves-teal">Services</a></li>
                <li><a class="grey-text text-darken-3" href="#projects" class="waves-effect waves-teal">Projects</a></li>
                <li><a class="grey-text text-darken-3" href="#email" class="waves-effect waves-teal">Email</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons white-text">menu</i></a>
        </div>
    </nav>
</div>