<nav class="grey darken-3 fixed" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo white-text">Daniel Maloney</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="white-text" href="#profile">Profile</a></li>
            <li><a class="white-text" href="#contact">Contact Details</a></li>
            <li><a class="white-text" href="#skills">Skills</a></li>
            <li><a class="white-text" href="#services">Services</a></li>
            <li><a class="white-text" href="#projects">Projects</a></li>
            <li><a class="white-text" href="#email">Email</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <!--<li class="logo">
        <a id="logo-container" class="brand-logo">Daniel Maloney</a>
        </li>-->
            <li><a class="grey-text text-darken-3" href="#profile" class="waves-effect waves-teal">Profile</a></li>
            <li><a class="grey-text text-darken-3" href="#contact" class="waves-effect waves-teal">Contact Details</a></li>
            <li><a class="grey-text text-darken-3" href="#skills" class="waves-effect waves-teal">Skills</a></li>
            <li><a class="grey-text text-darken-3" href="#sevices" class="waves-effect waves-teal">Services</a></li>
            <li><a class="grey-text text-darken-3" href="#projects" class="waves-effect waves-teal">Projects</a></li>
            <li><a class="grey-text text-darken-3" href="#email" class="waves-effect waves-teal">Email</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons white-text">menu</i></a>
    </div>
</nav>