<div class="navbar-fixed">
    <nav class="grey darken-3" role="navigation">
        <div class="nav-wrapper ">
            <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
                <i class="material-icons white-text">menu</i>
            </a>
            <a id="logo-container" href="#" class="brand-logo white-text">DM</a>
            <ul class="right hide-on-med-and-down">
                <li><a class="white-text scrollspy" href="#profile">Profile</a></li>
                <li><a class="white-text scrollspy" href="#contact">Contact Details</a></li>
                <li><a class="white-text scrollspy" href="#skills">Skills</a></li>
                <li><a class="white-text scrollspy" href="#services">Services</a></li>
                <li><a class="white-text scrollspy" href="#projects">Projects</a></li>
                <li><a class="white-text scrollspy" href="#email">Email</a></li>
            </ul>
            
            <ul id="slide-out" class="side-nav ps-container">
                <li>
                    <div class="userView">
                        <div class="background">
                            <img class="responsive-img" src="/imgs/background-1.jpg">
                        </div>
                        <a href="#!user"><img class="circle" src="/imgs/profile.jpg"></a>
                        <a href="#!name"><span class="white-text name">Daniel Maloney</span></a>
                        <a href="#!email"><span class="white-text email">danielmaloneygti@gmail.com</span></a>
                    </div>
                </li>
                <li>
                    <a class="subheader center scrollspy" href="#email">Contact Me</a>
                </li>
                <li>
                    <a class="center" href="https://github.com/danmaloney745">
                        <img class="responsive-img center" src="/imgs/GitHub.png">
                    </a>
                </li>
                <li>
                    <a class="center" href="https://medium.com/@danielmaloneygti">
                        <img class="responsive-img" src="/imgs/Medium.png">
                    </a>
                </li>
                <li>
                    <a class="center" href="https://uk.linkedin.com/daniel-maloney-14aab269">
                        <img class="responsive-img" src="/imgs/LinkedIn.png">
                    </a>
                </li>
                <li><a class="grey-text text-darken-3 scrollspy" href="#profile" class="waves-effect waves-teal">Profile</a></li>
                <li><a class="grey-text text-darken-3 scrollspy" href="#contact" class="waves-effect waves-teal">Contact Details</a></li>
                <li><a class="grey-text text-darken-3 scrollspy" href="#skills" class="waves-effect waves-teal">Skills</a></li>
                <li><a class="grey-text text-darken-3 scrollspy" href="#sevices" class="waves-effect waves-teal">Services</a></li>
                <li><a class="grey-text text-darken-3 scrollspy" href="#projects" class="waves-effect waves-teal">Projects</a></li>
                <li><a class="grey-text text-darken-3 scrollspy" href="#email" class="waves-effect waves-teal">Email</a></li>
                <div class="ps-scrollbar-y-rail">
                    <div class="ps-scrollbar-y"></div>
                </div>
            </ul>
        </div>
    </nav>
</div>