<section class="animated fadeInLeft" id="profile">
    <div class="section white">
        <div class="row container">
            <h3 class="grey-text text-darken-4">Web Developer at Sparta Global</h3>
            <ul>
                <li>
                    <p class="grey-text text-darken-3"><b>Name: </b> Daniel Maloney</p>
                </li>
                <li>
                    <p>Profession: Full Stack Developer (MEAN)</p>
                </li>
                <li>
                    <p class="grey-text text-darken-3">An aspiring technology enthusiast that uses knowedge of programming languages and emerging technolgies
                        to create web applications using HTML5 and CSS3 standards for front end development. Using Node.js
                        I create robust scalable web applications.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <section>