<section id="projects" class="scrollspy visibility">
    <div class="section grey lighten-5">
        <div class="row container">
            <h2 class="grey-text text-darken-4">Projects</h2>
            <h4 class="grey-text text-darken-4">Here is some of my best work:</h4>
            <div class="col s12 m4 l4">
                <h5 class="grey-text text-darken-3">BlackJack</h5>
                <div class="hovereffect">
                    <img class="img-responsive" src="/imgs/blackjack.png" alt="BlackJack">
                    <div class="overlay">
                        <p>
                            <a href="http://blackjackwebtest.herokuapp.com/">LINK HERE</a>
                            <p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <h5 class="grey-text text-darken-3">National Rail</h5>
                <div class="hovereffect">
                    <img class="img-responsive" src="/imgs/nationalrail.png" alt="National Rail">
                    <div class="overlay">
                        <p>
                            <a href="https://national-rail-api.herokuapp.com/">LINK HERE</a>
                            <p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <h5 class="grey-text text-darken-3">Rock Paper Scissors</h5>
                <div class="hovereffect">
                    <img class="img-responsive" src="/imgs/rock-paper-scissors.png" alt="Rock Paper Scissors">
                    <div class="overlay">
                        <p>
                            <a href="https://rock-paper-scissors-dm.herokuapp.com/">LINK HERE</a>
                            <p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>