<section id="projects" class="visibility">
    <div class="section grey lighten-5">
        <div class="row container">
            <h3>Projects</h3>
            <h4>Here is some of my best work:</h4>
            
            <div class="col s12 m12 l6">
                <div class="card">
                    <h5 class="card-title center">BlackJack</h5>
                    <div class="card-image">
                        <img class="activator" src="/imgs/blackjack.png">
                        <a class="activator btn-floating halfway-fab waves-effect waves-light grey darken-3">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                    <div class="card-reveal ps-container">
                        <span class="card-title center">BlackJack<i class="material-icons right">close</i></span>
                        <p>An online blackjack game, which allows users to register and connect to their account in order to play with real money.
                            Money can be deposited and withdrawn through the application, taking into account any money won or loss hilst playing blackjack.
                            This was a collaborative project using a MEAN stack environment (substituting AngularJs for VUE.js in this instance) and using a SCRUM methodology.
                        </p>
                        <p><a href="http://blackjackwebtest.herokuapp.com/">VIEW PROJECT</a></p>
                        <p><a href="">SOURCE CODE</a></p>
                        <div class="ps-scrollbar-y-rail">
                            <div class="ps-scrollbar-y"></div>
                        </div>
                    </div>
                </div>
                <div class="section"></div>
            </div>

            <div class="col s12 m12 l6">
                <div class="card">
                    <h5 class="card-title center">National Rail API</h5>
                    <div class="card-image">
                        <img class="activator" src="/imgs/nationalrail.png">
                        <a class="activator btn-floating halfway-fab waves-effect waves-light grey darken-3">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">National Rail API<i class="material-icons right">close</i></span>
                        <p>A RESTful API created using NodeJs, JavaScript, JQuery and AJAX. The application connects to the National Rail API,
                            parses the XML data recieved from the external WSDL file and converts the data into JSOn format to display Departure times
                            when the user enters a corresponding CRS Code to decipher which station to filter the data for.
                        </p>
                        <p><a href="https://national-rail-api.herokuapp.com/">VIEW PROJECT</a></p>
                        <p><a href="https://github.com/danmaloney745/national-rail-api.git">SOURCE CODE</a></p>
                    </div>
                </div>
                <div class="section"></div>
            </div>

            <div class="col s12 m12 l6">
                <div class="card">
                    <h5 class="card-title center">Rock Paper Scissors</h5>
                    <div class="card-image">
                        <img class="activator" src="/imgs/rock-paper-scissors.png">
                        <a class="activator btn-floating halfway-fab waves-effect waves-light grey darken-3">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">Rock Paper Scissors<i class="material-icons right">close</i></span>
                        <p>An application created to allow a user to play Rock Paper Scissors against a computer. The application tracks the scores of both the user and the computer.
                            The application was created to practice using HTML5, CSS3, JavaScript and Jquery.
                        </p>
                        <p><a href="https://rock-paper-scissors-dm.herokuapp.com/">VIEW PROJECTS</a></p>
                        <p><a href="https://github.com/danmaloney745/rock-paper-scissors.git">SOURCE CODE</a></p>
                    </div>
                </div>
                <div class="section"></div>
            </div>
        </div>
    </div>
</section>