<section id="projects" class="scrollspy visibility">
    <div class="section grey lighten-5">
        <div class="row container">
            <h3 class="grey-text text-darken-4">Projects</h3>
            <h4 class="grey-text text-darken-4">Here is some of my best work:</h4>
            
            <div class="col s12 m12 l4">
                <div class="card">
                    <h5 class="card-title center">BlackJack</h5>
                    <div class="card-image">
                        <img class="activator" src="/imgs/blackjack.png">
                        <a class="activator btn-floating halfway-fab waves-effect waves-light grey">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">BlackJack<i class="material-icons right">close</i></span>
                        <a href="http://blackjackwebtest.herokuapp.com/">LINK HERE</a>
                    </div>
                </div>
                <div class="section"></div>
            </div>

            <div class="col s12 m12 l4">
                <div class="card">
                    <h5 class="card-title center">National Rail API</h5>
                    <div class="card-image">
                        <img class="activator" src="/imgs/nationalrail.png">
                        <a class="activator btn-floating halfway-fab waves-effect waves-light grey">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">BlackJack<i class="material-icons right">close</i></span>
                        <a href="https://national-rail-api.herokuapp.com/">LINK HERE</a>
                    </div>
                </div>
                <div class="section"></div>
            </div>

            <div class="col s12 m12 l4">
                <div class="card">
                    <h5 class="card-title center">Rock Paper Scissors</h5>
                    <div class="card-image">
                        <img class="activator" src="/imgs/rock-paper-scissors.png">
                        <a class="activator btn-floating halfway-fab waves-effect waves-light grey">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">BlackJack<i class="material-icons right">close</i></span>
                        <a href="https://rock-paper-scissors-dm.herokuapp.com/">LINK HERE</a>
                    </div>
                </div>
                <div class="section"></div>
            </div>
        </div>
    </div>
</section>