<section class="animated fadeIn scrollspy" id="services">
    <div class="section grey lighten-5">
        <div class="row container">
            <h3 class="grey-text text-darken-4">Services I provide</h3>
            <div class="col m4 s12 center">
                <i class="medium material-icons">web</i>
                <p><b>Responsive Web Design</b></p>
                <p class="text-left grey-text text-darken-3">My websites are designed to be viewed on any device, whether viewed on a large desktop or a small phone device
                    my desings will scale to the screen size, without compromising the design of the website.
                </p>
            </div>
            <div class="col m4 s12 center">
                <i class="medium material-icons">code</i>
                <p><b>Clean Code</b></p>
                <p class="text-left grey-text text-darken-3">I pride myself on writing clean and reusable code in any langauge I use whilst keeping up to date with coding
                    standards. All of my projects are heavily documented and commented to a high standard.
                </p>
            </div>
            <div class="col m4 s12 center">
                <i class="medium material-icons">group</i>
                <p><b>Team Integration</b></p>
                <p class="text-left grey-text text-darken-3">Working in teams is a big part of modern development, I am very productive working on projects with developers
                    that share an interest in building robust applications and have a smiliar interest in emerging technologies.
            </div>
        </div>
    </div>
</section>