<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <img src="/imgs/background-5.jpg">
            </div>
            <img class="circle" src="/imgs/profile.jpg">
            <span class="white-text">Daniel Maloney</span>
        </div>
    </li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>