<section id="skills" class="scrollspy visibility">
    <div class="section grey lighten-5">
        <div class="row container">
            <h3 class="grey-text text-darken-4">My Skillset:</h3>
            <div class="col l6 m6 s12">
                <h5>JavaScript</h5>
                <img class="logo-responsive" src="imgs/javascript.png">
                <p class="text-left grey-text text-darken-3">I have experience in a number of JavaScript frameworks including JQuery, AngularJS and Vue. Additionally
                    I have experience creating RESTful APIs using NodeJS and a MEAN stack environment.
                </p>
            </div>

            <div class="col l6 m6 s12">
                <h5>Java</h5>
                <img class="logo-responsive" src="imgs/java-logo.png">
                <p class="text-left grey-text text-darken-3">During my time at University the language we were mostly exposed to was Java. I used Java in a number of
                    different projects, using OO principles, numerous datastructures and design patterns, and finally creating
                    Tomcat server applications.
                </p>
            </div>

            <div class="col l6 m6 s12">
                <h5>HTML & CSS</h5>
                <img class="logo-responsive" src="imgs/logo-html.png">
                <p class="text-left grey-text text-darken-3">I possess excellent skills in HTML5 and CSS3, with an attention to responsive web design for use on all devices.
                    I have addtional experience using CSS frameworks such as Boostrap and Materialize to enhance my CSS
                    skillset.
                </p>
            </div>

            <div class="col l6 m6 s12">
                <h5>Git</h5>
                <img class="logo-responsive" src="imgs/logo-git.png">
                <p class="text-left grey-text text-darken-3">I have extensive knowledge of using Git to keep track of my projects and also to collaborate with my teamates
                    on a number of different projects.</p>
            </div>
        </div>
    </div>
</section>