<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Daniel Maloney CV</title>
    
    <!-- JavaScript -->
    <script src="https://use.fontawesome.com/160b53a7bc.js"></script>
    
    <!-- CSS  -->
    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/portfolio.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">

  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="grey darken-3 fixed" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo white-text">Daniel Maloney</a>
          <ul class="right hide-on-med-and-down">
            <li><a class="white-text" href="#profile">Profile</a></li>
            <li><a class="white-text" href="#contact">Contact Details</a></li>
            <li><a class="white-text" href="#skills">Skills</a></li>
            <li><a class="white-text" href="#services">Services</a></li>
            <li><a class="white-text" href="#projects">Projects</a></li>
            <li><a class="white-text" href="#email">Email</a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <!--<li class="logo">
              <a id="logo-container" class="brand-logo">Daniel Maloney</a>
            </li>-->
            <li><a class="grey-text text-darken-3" href="#profile" class="waves-effect waves-teal">Profile</a></li>
            <li><a class="grey-text text-darken-3" href="#contact" class="waves-effect waves-teal">Contact Details</a></li>
            <li><a class="grey-text text-darken-3" href="#skills" class="waves-effect waves-teal">Skills</a></li>
            <li><a class="grey-text text-darken-3" href="#sevices" class="waves-effect waves-teal">Services</a></li>
            <li><a class="grey-text text-darken-3" href="#projects" class="waves-effect waves-teal">Projects</a></li>
            <li><a class="grey-text text-darken-3" href="#email" class="waves-effect waves-teal">Email</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons white-text">menu</i></a>
        </div>
      </nav> 
    </div>

    <div class="parallax-container">
    <div class="parallax"><img  src="/imgs/background-4.png" alt="Unsplashed background img 1"></div>
    </div>

    <section class="animated fadeInLeft" id="profile">
      <div class="section white">
        <div class="row container">
          <h3 class="grey-text text-darken-4">Web Developer at Sparta Global</h3>
          <ul>
            <li><p class="grey-text text-darken-3"><b>Name: </b> Daniel Maloney</p></li>
            <li><p>Profession: Full Stack Developer (MEAN)</p></li>
            <li><p class="grey-text text-darken-3">An aspiring technology enthusiast that uses knowedge of programming languages and emerging technolgies to create web applications
                  using HTML5 and CSS3 standards for front end development. Using Node.js I create robust scalable web applications.
                </p>
            </li>
          </ul>
        </div>
      </div>
    <section>

    <section id="contact">
      <div class="section grey lighten-5">
        <div class="row container">
          <div class="col l4 m4 s12">
            <hr>
            <div class="center animated fadeInLeft">
              <i class="medium material-icons">email</i>
              <p class="grey-text text-darken-4">danielmaloneygti@gmail.com</p>
            </div>
            <hr>
          </div>
          <div class="col l4 m4 s12 section">
            <hr>
            <div class="center animated fadeInUp">
              <i class="medium material-icons">phone</i>
              <p class="grey-text text-darken-4">07597701962</p>
            </div>
            <hr>
          </div>
          <div class="col l4 m4 s12">
            <hr>
            <div class="center animated fadeInRight">
              <i class="medium material-icons">location_on</i>
              <p class="grey-text text-darken-4">Watford, London</p>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </section>
  
    <section class="animated fadeIn" id="skills">
      <div class="section grey lighten-5">
        <div class="row container">
          <h2 class="grey-text text-darken-4">My Skillset:</h2>
          <div class="col s6">
            <h5>JavaScript</h5>
              <img class="logo-responsive" src="imgs/javascript.png">
              <p class="text-left grey-text text-darken-3">I have experience in a number of JavaScript frameworks including JQuery, AngularJS and Vue.
                Additionally I have experience creating RESTful APIs using NodeJS and a MEAN stack environment.
              </p>
          </div>
        
          <div class="col s6">
            <h5>Java</h5>
            <img class="logo-responsive" src="imgs/java-logo.png">
            <p class="text-left grey-text text-darken-3">During my time at University the language we were mostly exposed to was Java.
              I used Java in a number of different projects, using OO principles, numerous datastructures and design patterns, and finally creating Tomcat server applications.
            </p>
          </div>
          
          <div class="col s6">
            <h5>HTML & CSS</h5>
            <img class="logo-responsive" src="imgs/logo-html.png">
            <p class="text-left grey-text text-darken-3">I possess excellent skills in HTML5 and CSS3, with an attention to resposive web design for use on all devices.
              I have addtionaly experience using CSS frameworks such as Boostrap and Materialize to enhance my CSS skillset.
            </p>
          </div>

          <div class="col s6">
            <h5>Git</h5>
            <img class="logo-responsive" src="imgs/logo-git.png">
            <p class="grey-text text-darken-3">I have extensive knowledge of using Git to keep track of my projects and also to collaborate with my teamates on a number of different projects.</p>
          </div>
        </div>
      </div>
    <section>
  
    <div class="parallax-container">
    <div class="parallax"><img src="/imgs/background-5.jpg" alt="Unsplashed background img 1"></div>
    </div>

    <section class="animated fadeIn" id="services">
      <div class="section grey lighten-5">
        <div class="row container">
          <h3 class="grey-text text-darken-4">Services I provide</h3>
          <div class="col m4 center">
            <i class="medium material-icons">web</i>
            <p><b>Responsive Web Design</b></p>
            <p class="text-left grey-text text-darken-3">My websites are designed to be viewed on any device, whether viewed on a large 
              desktop or a small phone device my desings will scale to the screen size, without compromising the design of the website.
            </p>
          </div>
          <div class="col m4 center">
            <i class="medium material-icons">code</i>
            <p><b>Clean Code</b></p>
            <p class="text-left grey-text text-darken-3">I pride myself on writing clean and reusable code in any langauge I use whilst keeping up to date with coding standards.
              All of my projects are heavily documented and commented to a high standard.
            </p>
          </div>
          <div class="col m4 center">
            <i class="medium material-icons">group</i>
            <p><b>Team Integration</b></p>
            <p class="text-left grey-text text-darken-3">Working in teams is a big part of modern development, I am very productive working on projects with developers
              that share an interest in building robust applications and have a smiliar interest in emerging technologies.
          </div>
        </div>
      </div>
    </section>

    <section class="animated fadeIn" id="projects">
      <div class="section grey lighten-5">
        <div class="row container">
          <h2 class="grey-text text-darken-4">Projects</h2>
          <h4 class="grey-text text-darken-4">Here is some of my best work:</h4>
          <div class="col m4 l4">
            <h5 class="grey-text text-darken-3">BlackJack</h5>
            <div class="hovereffect">
              <img class="img-responsive" src="/imgs/blackjack.png" alt="BlackJack">
              <div class="overlay">
                <p>
                  <a href="http://blackjackwebtest.herokuapp.com/">LINK HERE</a>
                <p>
              </div>
            </div>
          </div>
          <div class="col m4 l4">
            <h5 class="grey-text text-darken-3">National Rail</h5>
            <div class="hovereffect">
              <img class="img-responsive" src="/imgs/nationalrail.png" alt="National Rail">
              <div class="overlay">
                <p>
                  <a href="https://national-rail-api.herokuapp.com/">LINK HERE</a>
                <p>
              </div>
            </div>
          </div>
          <div class="col m4 l4">
            <h5 class="grey-text text-darken-3">Rock Paper Scissors</h5>
            <div class="hovereffect">
              <img class="img-responsive" src="/imgs/rock-paper-scissors.png" alt="Rock Paper Scissors">
              <div class="overlay">
                <p>
                  <a href="https://rock-paper-scissors-dm.herokuapp.com/">LINK HERE</a>
                <p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="animated fadeIn" id="email">
      <div class="container grey lighten-5">
        <div class="row">
          <h3>Contact Me</h3>
          <h4>I would love to hear from you.</h4>
          <form role="form" method="POST" action="/contact">
            <div class="input-field col s6">
              <input placeholder="First Name" id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input placeholder="Last Name" id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="example@gmail.com" id="email" type="email" class="validate">
              <label for="password">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="comments" type="text" class="validate">
              <label for="comments">Comments</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="number" type="text" class="validate">
              <label for="number">Contact Number</label>
            </div>
          </div>
          <button class="btn grey darken-3 waves-effect waves-light z-depth-5" type="submit" name="action">
            Send
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
      <div class="section white">
      </div>
    </section>

    <footer id="footer">
      <div class="section grey darken-3">
        <div class="row container social-icon">
          <ul>
            <p class="white-text">&copy; 2017 Daniel Maloney, All Rights Reserved</p>
            <a href="https://medium.com/@danielmaloneygti">
              <img class="responsive-img animated rubberBand" src="/imgs/Medium.png">
            </a>
            <a href="https://uk.linkedin.com/daniel-maloney-14aab269">
              <img class="responsive-img animated rubberBand" src="/imgs/LinkedIn.png">
            </a>
            <a href="https://github.com/danmaloney745">
              <img class="responsive-img animated rubberBand" src="/imgs/GitHub.png">
            </a>
          </ul>
        </div>
      </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
  </body>
</html>
