<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Daniel Maloney CV</title>
    
    <!-- JavaScript -->
    <script src="https://use.fontawesome.com/160b53a7bc.js"></script>
    
    <!-- CSS  -->
    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
    <link href="/css/portfolio.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">

  </head>

  <body>
    <main class="cv" role="main">
      <!-- Navigation Bar -->
      <% include ./partials/navigation %>
      <!-- End Navigation Bar -->
      
      <!-- Side Bar Navigation -->
      <!--<% include ./partials/side-bar %>-->
      <!--End Side Bar Navigation -->

      <div class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <h1 class="header center white-text top-offset">{Daniel Maloney}</h1>
            <div class="row center">
              <h5 class="header col s12 light">/*Welcome to my CV*/</h5>
            </div>
          </div>
        </div>
        <div class="parallax">
          <img  src="/imgs/background-2.png" alt="Unsplashed background img 1">
        </div>
      </div>

      <!-- Profile Details -->
      <% include ./partials/profile %>
      <!-- End Profile Details -->

      <!-- Contact Detials -->
      <% include ./partials/contact %>
      <!-- End Contact Details -->
    
      <!-- Skills -->
      <% include ./partials/skills %>
      <!-- End Skills -->
    
      <div class="parallax-container">
        <div class="parallax">
          <img src="/imgs/background-5.jpg" alt="Unsplashed background img 1">
        </div>
      </div>

      <!-- Services -->
      <% include ./partials/services %>
      <!-- End Services -->

      <!-- Projects -->
      <% include ./partials/projectcards %>
      <!-- End Projects -->

      <!-- Email Form -->
      <% include ./partials/email %>
      <!-- End Email Form -->

      <!-- Footer -->
      <% include ./partials/footer %>
      <!-- End Footer -->
    </main>
    
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/init.js"></script>
  </body>
</html>
