/* Custom Stylesheet */

/* Global Styling */
body{
  font-family: 'Montserrat';
}

h2 {
  margin: 5px 0px 55px 0px;
}

h3 {
  margin: 5px 0px 55px 0px;
}

h4 {
  margin: 5px 0px 55px 0px;
}

p {
  line-height: 2rem;
}

.text-left {
  text-align: justify;
}
/* End Global Styling */

/* Navigation Styling */

.side-nav a {
  font-size: 18px;
}

.navbar-fixed {
  z-index: 998 !important;
}

/* End Nav Styling */

.button-collapse {
  color: #26a69a;
}

/* Header Styling */
.top-offset {
  margin-top: 20%;
}

/* Hide Elements */
.visibility {
  visibility: hidden;
}

/* Parallax Styling */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}
/* End Parallax Styling */

/* Social Images Styling */
.logo-responsive {
  max-width: 50%;
  height: auto; 
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.social-icon {
  text-align: center;
  padding-right: 0.5%;
}
/* End Social Images Styling */

/* Media Queries */
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 25%;
  }
  .parallax-container .section .container h1 {
    font-size: 2.2rem;
  }
  #index-banner .section {
    top: 10%;
  }
  .top-offset {
    margin-top: 12%;
  }
  h2 {
    font-size: 2.56rem;
  }
  h3 {
    font-size: 1.92rem;
  }
  h4 {
    font-size: 1.28rem;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
/* End Media Queires */




