/* Custom Stylesheet */

/* Global Styling */
body{
  font-family: 'Montserrat';
  color: #424242;
}

h2 {
  margin: 5px 0px 55px 0px;
  color: #212121;
}

h3 {
  margin: 5px 0px 55px 0px;
  color: #212121;
}

h4 {
  margin: 5px 0px 55px 0px;
  color: #212121;
}

p {
  line-height: 2rem;
}

.text-justify {
  text-align: justify;
  padding-right: 3%;
  padding-bottom: 3%;
}
/* End Global Styling */

/* Preloader Styling */
.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

/* End Preloader Styling */

/* Navigation Styling */
nav {
  background-color: transparent;
}

.navbar-color {
  opacity: 0.95;
  background-color: #212121;
}

/*.side-nav a {
  font-size: 18px;
}*/

.navbar-fixed {
  z-index: 998 !important;
}

.side-nav {
  background-color: #fff;
}

.sidebar-collapse {
    position: absolute;
    left: -170px;
    top: -45px;
}

.button-collapse {
  color: #26a69a;
}

/* End Nav Styling */

/* Header Styling */
.top-offset {
  margin-top: 12%;
}

/* Hide Elements */
.visibility {
  visibility: hidden;
}


/* Parallax Styling */
.parallax-container {
  min-height: 380px;
  height: 700px;
  line-height: 0;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.parallax {
  bottom: 67px;
}
/* End Parallax Styling */

/* Social Images Styling */
.logo-responsive {
  max-width: 50%;
  width: 120px;
  height: 120px; 
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.social-icon {
  text-align: center;
  padding-right: 0.5%;
}
/* End Social Images Styling */

/* Project Card Styling */
.card .card-title {
  padding-top: 4px;
  padding-bottom: 7px;
}

.card-image img{
    height: 280px;
}

/* End Project Card Styling */

/* Media Queries */
@media only screen and (max-width : 992px) {
  .parallax {
    bottom: 0px;
  }
  .parallax-container .section {
    position: absolute;
    top: 7%;
  }
  .parallax-container .section .container h1 {
    font-size: 1.8rem;
  }
  .parallax-container {
    height: 360px;
  }
  #index-banner .section {
    top: 10%;
  }
  .top-offset {
    margin-top: 14%;
  }
  h2 {
    font-size: 2.56rem;
  }
  h3 {
    font-size: 1.68rem;
    margin: 3px, 0px, 55px, 0px;
  }
  h4 {
    font-size: 1.28rem;
  }
  h5 {
    font-size: 1.28rem;
  }

  .logo-responsive {
    max-width: 50%;
    width: 70px;
    height: 70px;
  }
  .card-image img{
    height: 200px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
/* End Media Queires */




